

.iimg1{
    background-image: url('../images/Industry/menCap.jpg');
    border-radius: 3px;
    margin-left: 5%;
    background-size: 100% 100%;
    width: 90%;
    height: 500px;
    
  }

.iimg2{
    background-image: url('../images/Industry/familyCap.jpg');
    border-radius: 3px;
    margin-left: 5%;
    background-size: 100% 100%;
    width: 90%;
    height: 500px;
  }

.iimg3{
    background-image: url('../images/Industry/kidCap.jpg');
    border-radius: 3px;
    margin-left: 5%;
    background-size: 100% 100%;
    width: 90%;
    height: 500px;

}
  
.iimg4{
    background-image: url('../images/Industry/ladiesCap.jpg');
    border-radius: 3px;
    margin-left:  5%;
    background-size: 100% 100%;
    width: 90%;
    height: 500px;
}
  
.iimg5{
    background-image: url('../images/Industry/babytoyCap.jpg');
    border-radius: 3px;
    margin-left: 5%;
    background-size: 100% 100%;
    width: 90%;
    height: 500px;
}

 
.iimg6{
    background-image: url('../images/Industry/shoeCap1.jpg');
    border-radius: 3px;
    margin-left: 5%;
    background-size: 100% 100%;
    width: 90%;
    height: 500px;
}

 
.iimg7{
    background-image: url('../images/Industry/LuggagesCap.jpg');
    border-radius: 3px;
    margin-left: 5%;
    background-size: 100% 100%;
    width: 90%;
    height: 500px;
}

.iimg8{
    background-image: url('../images/Industry/ethinicCap.jpg');
    border-radius: 3px;
    margin-left:  5%;
    background-size: 100% 100%;
    width: 90%;
    height: 500px;
}

.iimg9{
    background-image: url('../images/Industry/mobileCap.jpg');
    border-radius: 3px;
    margin-left: 5%;
    background-size: 100% 100%;
    width: 90%;
    height: 500px;
}

.iimg10{
    background-image: url('../images/Industry/stationaryCap.jpg');
    border-radius: 3px;
    margin-left: 5%;
    background-size: 100% 100%;
    width: 90%;
    height: 500px;
}

.iimg11{
    background-image: url('../images/Industry/sportCap.jpg');
    border-radius: 3px;
    margin-left: 5%;
    background-size: 100% 100%;
    width: 90%;
    height: 500px;
}

.iimg12{
    background-image: url('../images/Industry/homeCap.jpg');
    border-radius: 3px;
    margin-left:  5%;
    background-size: 100% 100%;
    width: 90%;
    height: 500px;
}
