
.himg1{
    margin-top: 2rem;
    background-image: url('../images/HomeImages/g4.jpg');
    border-radius: 3px;
    background-size: 100% 100%;
    width: 100%;
    height: 500px;
    
  }

.himg2{
    margin-top: 2rem;
    background-image: url('../images/HomeImages/Shoes.jpg');
    border-radius: 3px;
    background-size: 100% 100%;
    width: 100%;
    height: 500px;

}
  
.himg3{
    margin-top: 2rem;
    background-image: url('../images/HomeImages/gad5.jpg');
    border-radius: 3px;
    background-size: 100% 100%;
    width: 100%;
    height: 500px;

}
  
.himg4{
    margin-top: 2rem;
    background-image: url('../images/hret1.jpg');
    border-radius: 3px;
    background-size: 100% 100%;
    width: 100%;
    height: 500px;
}
.titletxt{
    font-size: 40px;
    font-family: 'Roboto Slab', ;
    font-weight: bold;
    color: rgba(7, 252, 240, 0.938)
}
.hometext{
    margin-bottom: 120px;
    font-size: 25px;
    font-family: 'Pacifico',;
    font-weight: bold;
    color: rgba(7, 252, 240, 0.938)
}

