.main-footer{
   
    padding: 1rem;
    margin-left: auto;
    font-size: 20px;
   
}


.footer-middle {
    padding-top: 3rem;
    
}

.footer-bottom{
    padding-top: 1rem;
    margin-left:center;
    padding-bottom: 1rem
}

